{% extends  "layout.html" %}

{% block title %}
<title>New Odonto | Dentistas</title>
{% endblock title %}


{% block conteiner %}

<div class="container">

    <div class="dentist">

        <div class="dentist-professional">
            <div class="dentist-avatar">
                <img src="/images/avatar.png" alt="Foto do Dentista">
            </div>
            <div class="dentist-name">
                Lorem <strong>ipsum dolor</strong>
            </div>
            <div class="dentist-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus venenatis vestibulum. Nulla
                a
                lobortis tellus. In malesuada, libero id imperdiet vehicula, est sapien ultrices nibh, a ullamcorper
                ipsum magna eu lacus. Nulla suscipit imperdiet volutpat. Aliquam erat volutpat. Cras odio neque,
                varius
                tincidunt sodales id, dignissim non nunc.
            </div>
        </div>

        <div class="dentist-professional">
            <div class="dentist-avatar">
                <img src="/images/avatar.png" alt="Foto do Dentista">
            </div>
            <div class="dentist-name">
                Lorem <strong>ipsum dolor</strong>
            </div>
            <div class="dentist-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus venenatis vestibulum. Nulla
                a
                lobortis tellus. In malesuada, libero id imperdiet vehicula, est sapien ultrices nibh, a ullamcorper
                ipsum magna eu lacus. Nulla suscipit imperdiet volutpat. Aliquam erat volutpat. Cras odio neque,
                varius
                tincidunt sodales id, dignissim non nunc.
            </div>
        </div>

        <div class="dentist-professional">
            <div class="dentist-avatar">
                <img src="/images/avatar.png" alt="Foto do Dentista">
            </div>
            <div class="dentist-name">
                Lorem <strong>ipsum dolor</strong>
            </div>
            <div class="dentist-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus venenatis vestibulum. Nulla
                a
                lobortis tellus. In malesuada, libero id imperdiet vehicula, est sapien ultrices nibh, a ullamcorper
                ipsum magna eu lacus. Nulla suscipit imperdiet volutpat. Aliquam erat volutpat. Cras odio neque,
                varius
                tincidunt sodales id, dignissim non nunc.
            </div>
        </div>

    </div>
</div>

{% endblock conteiner %}