<div id="modal" class="point">
    <div class="content">
        <img src="/assets/excluir.svg" alt="Agendamento efetuado com sucesso">       
            <h1>Agendamento cancelado com sucesso</h1>
    </div>
</div>

<script>
    
    setTimeout(() => {
        window.location = "/"
    }, 2000)
    
</script>