<!----- F O O T E R ------------------------------------------------------------------------------------>
<footer>
    <div class="container">

        <a class="logo" href="/">
            <img src="/images/logo.png" alt="">
        </a>

        <div class="icon-social">
            <img src="https://image.flaticon.com/icons/svg/2111/2111398.svg" alt="" title="Nos siga no Facebook">
            <img src="https://image.flaticon.com/icons/svg/1409/1409946.svg" alt="" title="Nos siga no Instagram">
        </div>
    </div>

    <p>Todos os Direitos Reservados - 2020/2020</p>

</footer>