 <!----- H E A D E R ------------------------------------------------------------------------------------>
 <header class="header">
    <div class="conteiner">

        <nav class="navbar">
            <div class="container">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar">
                                <img src="./images/menu.svg" alt="Icone de menu">
                            </span>
                        </button>

                        <a href="/">
                            <img src="./images/logo.png" alt="Imagem da logo New odonto">
                        </a>

                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="/Clinica">Clínica</a></li>
                            <li><a href="/Dentistas">Dentistas</a></li>
                            <li><a href="/Contato">Contato</a></li>
                        </ul>

                    </div>

                </div>
            </div>
        </nav>
    </div>

</header>

<!----------------------------------------------------------------------------------------->