.buscarAgendamento{
    width: 40%;
    height: 52vh;
    margin: 0 auto;
}

.buscarAgendamento h1{
    color: var(--primary-color);
}

.buscarAgendamento input{
    width: 100%;  
    margin-top: 50px; 
}

.buscarAgendamento button{
    width: 100%;   
}
