/*---- H E A D E R --------------------------------------------------------------------------*/

header{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 50px;
    background: #fff;
    padding: 5rem 0rem 1rem ;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 10px -5px rgba(50, 90, 99, 0.08);
    
    z-index: 9;
}



header.fixed{
    position: fixed;
    opacity: 0.99;
    top: 0;
    padding: 3rem 0rem 1rem;
    transition: all .2s;
}

/*---- N A V --------------------------------------------------------------------------*/
.nav-grid{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;

    gap: 20px;

    justify-content: space-between;
}

nav .nav{
    width: 100%;  
}

nav .logo a img{
    width: 40%;
    height: auto;  
}

.logo {
    text-align: left;
}

nav .logo a img:hover{
    opacity: 0.8;
    transition: 300ms ease;
}

    @media only screen and (max-width: 1200px){
        .nav-grid {
            display: initial;
        }

        nav {
            width: 100%;
        }

        nav .logo{
            margin: 0;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
        }

        nav .logo a img{
            width: 20%;
            height: auto;  
        }
              
        nav .nav{
            width: 100%;
            display: flex;
            justify-items: center;
            justify-content: center;
        }   
    }


    @media (max-width: 767px){
        nav .nav{
            width: 100%;
            display: block;
        }   

        nav .logo a img{
            width: 180px;
            height: auto;  
        }

        .navbar-header{
            position: relative;
        }

        .navbar-header button{
            position: absolute;
            right: 0;

            z-index: 999;
        }

        span.icon-bar img{
            width: 30px; 
            margin-left: 5%;
        }
    }

nav .nav li a{
    margin-top: 10px;
    text-transform: uppercase;
    color:  rgb(67, 135, 150);
}

nav .nav li a:hover{
    background: #fff;
    color:  var(--primary-color);
    /*border-bottom: 1px solid rgba(73, 190, 216, 0.16); */
    transition: 300ms ease;   
}

nav .nav li.search a{
    background: var(--primary-color);
    border-radius: 8px;
    color: #fff;
}

nav .nav li.search a:hover{
    background: var(--button-hover-color);
}
