@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --primary-color: rgb(73, 190, 216);
    --button-hover-color: rgba(50, 90, 99, 0.9);
}

/*	Alterando estilo da barra de rolagem vertical*/
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background-color: #D3D3D3;
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

body{
    background: #fff;   
    -webkit-font-smoothing: antialiased;
    color: #666666;
}

body,
input,
button{
    font-family: Roboto, sans-serif;

}

button{
    border: none;
    text-transform: uppercase;

    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: 0.5;
}

a:link 
{ 
 text-decoration:none; 
} 

.flex {
	display: flex;
}

    @media (max-width: 767px){
        .flex{
            display: inline;
        }
    }

.title-section{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;   
    color: var(--primary-color);
    margin: 80px 0;
    box-shadow: 0 20px 20px -15px rgba(1, 1, 1, 0.1);
    padding-bottom: 10px;
}

.titulo h1{
    background: var(--primary-color);
    padding: 20px 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

input,
select,
textarea{
    width: 100%;
    padding: 10px 0 10px;    
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid var(--primary-color);
}

select{
    cursor: pointer;
    padding: 0 0 10px; 
}

select option{
    width: 100%;
    padding: 10px 0 20px;    
    font-size: 15px;
    color: #666;
}


/*---- A R T I C L E --------------------------------------------------------------------------*/
article{
    width: 100%;
    height: auto;
    margin-right: 10px;
    text-align: justify;
}

article img,
article video{
    width: 100%;
    margin: 30px 0;
}

article h1{
    color: var(--primary-color);
}

    @media (max-width: 767px){
        article{
            padding: 30px 0;
            margin-top: -85px;
        }
    }




/*---- A S I D E --------------------------------------------------------------------------*/
aside{
    width: 50%;
    height: auto;
    color: #fff;
    border: 1px solid rgba(73, 190, 216, 0.1);
}

aside h1{
    background: var(--primary-color);
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}

aside p{
    padding: 0 25px ;
    color: #666666;
    margin-top: 40px;
}

aside form{
    margin-top: 40px;
    padding: 0 25px 30px;

    color: #666;
}

aside form .input-form{
    margin-top: 20px;
}

aside form .input-form input{
    width: 100%;
    height: 30px;
    padding: 10px 0 20px;    
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid var(--primary-color);
}

aside .group-input-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #666;

}

aside .group-input-form .input-form + .input-form{
    margin-left: 30px;
}

aside .group-input-form .input-form select{
    color: #666;

    width: 100%;
    height: 30px;   
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid var(--primary-color);

    cursor: pointer;
}

aside form button[type=submit]{
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: var(--primary-color);
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: 0.5;
}

aside form button[type=submit]:hover{
    background: rgba(50, 90, 99, 0.9);
}

    @media (max-width: 767px){
        aside{
            width: 100%;
            border: none;
            
        }
    }


/*------------------------------------------------------------------------------*/
.medical-treatment{
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: auto auto auto;
    margin-top: 50px;   
}

.treatment{
    margin-bottom: 60px;
}

.treatment h3{
    font-size: 18px;
    color: var(--primary-color);
}

.treatment img{
    width: 40px;
    height: 40px;
}

    @media (max-width: 767px){
        .medical-treatment{
            grid-template-columns: 1fr;
        }

        .treatment + .treatment{
            border-top: 1px solid rgba(73, 190, 216, 0.16);
            padding-top: 40px;
        }
    }





/*---- F O O T E R --------------------------------------------------------------------------*/
footer{
    width: 100%;
    height: auto;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 10px 10px 12px rgba(50, 90, 99, 0.08);
}

footer .logo img{
    height: 40px;
    margin: 50px 0 20px;
}

footer .logo img:hover{
    opacity: .8;
    transition: 300ms ease;
 }

footer .icon-social img{
    margin: 10px 3px 40px;
    height: 20px;
    cursor: pointer;
    
}

footer .icon-social img:hover{
    opacity: .8;
    transition: 300ms ease;
}

footer p{
    margin: 10px 0 0 0;
    padding: 20px;
    height: 50px;
    background: var(--primary-color);
    color: #fff;
    font-size: 12px;
}


#subirTopo {
    text-decoration: none;
    background: var(--primary-color);
    
    position: fixed;
    bottom: 50px;
    right: 40px;

    color: #fff;
    text-align: center;
    cursor: pointer;
    padding-top: 15px;

    opacity: .8;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

#subirTopo:hover {
    opacity:1;
    transition: 400ms;
} 