@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*	Alterando estilo da barra de rolagem vertical*/
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background-color: #D3D3D3;
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background: #fff;   
    -webkit-font-smoothing: antialiased;
    color: #666666;
}

body,
input,
button{
    font-family: Roboto, sans-serif;

}

.flex {
	display: flex;
}

    @media (max-width: 767px){
        .flex{
            display: inline;
        }
    }

.title-section{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;   
    color: rgb(73, 190, 216);
    margin: 80px 0;
    box-shadow: 0 20px 20px -15px rgba(1, 1, 1, 0.1);
    padding-bottom: 10px;
}


/*---- H E A D E R --------------------------------------------------------------------------*/

header{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 50px;
    background: #fff;
    padding: 5rem 0rem 1rem ;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 10px -5px rgba(50, 90, 99, 0.08);
    
    z-index: 9;
}

header a img{
    width: 180px;
    height: auto;
    margin-left: 40px;   
}

header a img:hover{
    opacity: 0.8;
    transition: 300ms ease;
}

header.fixed{
    position: fixed;
    opacity: 0.99;
    top: 0;
    padding: 3rem 0rem 1rem;
    transition: all .2s;
}

/*---- N A V --------------------------------------------------------------------------*/
nav .nav{
    width: 80%;
    display: flex;
    justify-items: end;
    justify-content: flex-end;
}

    @media (max-width: 1200px){
        nav .nav{
            width: 76%;
        }   
    }

    @media (max-width: 990px){
        nav .nav{
            width: 68%;
        }  
    }

    @media (max-width: 767px){
        nav .nav{
            width: 100%;
        }   

        span.icon-bar img{
            width: 30px; 
            margin-left: 10%;           
        }
    }

nav .nav li a{
    margin-top: 10px;
    text-transform: uppercase;
    color:  rgb(67, 135, 150);
}

nav .nav li a:hover{
    background: #fff;
    color:  rgb(73, 190, 216);
    /*border-bottom: 1px solid rgba(73, 190, 216, 0.16); */
    transition: 300ms ease;   
}


/*---- A R T I C L E --------------------------------------------------------------------------*/
article{
    width: 100%;
    height: auto;
    margin-right: 10px;
}

article img,
article video{
    width: 100%;
}

section{    
    height: auto;
    padding: 10px;
    text-align: justify;
}

section h1{
    color: rgb(73, 190, 216);
    font-size: 20px;
}

    @media (max-width: 767px){
        article{
            padding: 30px 0;
            margin-top: -85px;
        }
    }

/*----- PAGE CLINICA*/
#clinica section h1{
    color: rgb(73, 190, 216);
    font-size: 50px;
}

#clinica .mvv .title-mvv{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    background: rgb(73, 190, 216);
    padding: 10px;
    margin-bottom: 10px;
    border-top-right-radius: 100px;
}

    @media (max-width: 767px){
        #clinica .mvv{
            width: 98%;
        }

        #clinica .mvv .title-mvv{
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 16px;
            background: rgb(73, 190, 216);
            padding: 10px;
            margin-bottom: 10px;
            border-top-right-radius: 100px;
        }

        #clinica .mvv .col-md-4 + .col-md-4{
            margin-top: 30px;
        }
    }

/*---- A S I D E --------------------------------------------------------------------------*/
aside{
    width: 50%;
    height: auto;
    color: #fff;
    border: 1px solid rgba(73, 190, 216, 0.1);
}

aside h1{
    background: rgb(73, 190, 216);
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}

aside p{
    padding: 0 25px ;
    color: #666666;
    margin-top: 40px;
}

aside form{
    margin-top: 40px;
    padding: 0 25px 30px;

    color: #666;
}

aside form .input-form + .input-form{
    margin-top: 20px;
}

aside form .input-form input{
    width: 100%;
    height: 30px;
    padding: 10px 0 20px;    
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid rgb(73, 190, 216);
}

aside .group-input-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #666;

    margin-top: 15px;
}

aside .group-input-form .input-form + .input-form{
    margin-left: 30px;
}

aside .group-input-form select{
    color: #666;

    width: 100%;
    height: 30px;
    padding: 10px 0 20px;    
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid rgb(73, 190, 216);

    cursor: pointer;
}

aside form button[type=submit]{
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: rgb(73, 190, 216);
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: 0.5;
}

aside form button[type=submit]:hover{
    background: rgba(50, 90, 99, 0.9);
}

    @media (max-width: 767px){
        aside{
            width: 100%;
            border: none;
            
        }
    }


/*------------------------------------------------------------------------------*/
.medical-treatment{
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: auto auto auto;
    margin-top: 50px;   
}

.treatment{
    margin-bottom: 60px;
}

.treatment h3{
    font-size: 18px;
    color: rgb(73, 190, 216);
}

.treatment img{
    width: 40px;
    height: 40px;
}

    @media (max-width: 767px){
        .medical-treatment{
            grid-template-columns: 1fr;
        }

        .treatment + .treatment{
            border-top: 1px solid rgba(73, 190, 216, 0.16);
            padding-top: 40px;
        }
    }

/*---- C O N T A C T --------------------------------------------------------------------------*/
#contact .contact{
    width: 100%;    
    margin-right: 30px;
}

#contact h1{
    background: rgb(73, 190, 216);
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}

#contact p{
    padding: 0 25px ;
    color: #666666;
    margin: 40px 0;
}

.form-contact{
    width: 100%;
    border: 1px solid rgba(73, 190, 216, 0.1);
}



#contact form{
    padding: 0 25px ;  
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;  
}

#contact form b{
    color: red; 
}

#contact form div:nth-child(1),
#contact form div:nth-child(2),
#contact form div:nth-child(5),
#contact form div:nth-child(6){
    grid-column: span 2;
}


    @media (max-width: 767px){
        #contact .contact{
            width: 100%;
            margin:0;
            padding: 10px;
        }

        .form-contact{
            width: 100%;
            border: none;
        }

        #contact form{
            display: flexbox;
        }

    }

#contact form .input-form + .input-form{
    margin-top: 20px;
}

#contact form .input-form input{
    width: 100%;
    height: 30px;
    padding: 10px 0 20px;    
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid rgb(73, 190, 216);
}

#contact form .input-form textarea{
    width: 100%;
    padding: 10px 0 20px;    
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid rgb(73, 190, 216);
}

#contact form .input-form select{
    width: 100%;
    padding: 10px 0 20px;    
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid rgb(73, 190, 216);
    cursor: pointer;
}

form .input-form select option{
    width: 100%;
    padding: 10px 0 20px;    
    font-size: 15px;
    color: #666;
}

#contact form button[type=submit]{
    width: 100%;
    border: 0;
    margin: 30px 0;
    background: rgb(73, 190, 216);
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: 0.5;
    grid-column: span 2;
}

#contact form button[type=submit]:hover{
    background: rgba(50, 90, 99, 0.9);
}

.contact .phone-contact {
    margin-bottom: 30px;
}

.contact .phone-contact img{
    height: 20px;
}

.contact .phone-contact .phone{
    font-size: 25px;
    color: rgb(73, 190, 216);
    font-weight: bold;
    margin-top: 10px;
}

.contact .phone-contact .email{
    margin-top: 10px;
}

.phone-contact .email a{
    font-size: 16px;
    color: rgb(73, 190, 216);
    margin-top: 10px;
}

.phone-contact .email a:hover{
    color: rgba(50, 90, 99, 0.9);
    text-decoration: none;
}

/*---- D E N T I S T S --------------------------------------------------------------------------*/
.dentist{
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: auto auto auto;
    margin-bottom: 30px;
}

    @media (max-width: 800px){
        .dentist{
            grid-template-columns: auto;
        }

        .dentist-professional + .dentist-professional{
            margin-top: 60px;
        }
    }

.dentist .dentist-avatar{
    text-align: center;
}

.dentist .dentist-avatar img{
    height: 180px;
    border-radius: 50%;
}

.dentist .dentist-name{
    text-align: center;
    font-size: 15px;
    color: rgb(73, 190, 216);
    margin: 20px 0 10px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(73, 190, 216);
}

.dentist .dentist-description{
    text-align: center;
}



/*---- F O O T E R --------------------------------------------------------------------------*/
footer{
    width: 100%;
    height: auto;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 10px 10px 12px rgba(50, 90, 99, 0.08);
}

footer .logo img{
    height: 40px;
    margin: 50px 0 20px;
}

footer .logo img:hover{
    opacity: .8;
    transition: 300ms ease;
 }

footer .icon-social img{
    margin: 10px 3px 40px;
    height: 20px;
    cursor: pointer;
    
}

footer .icon-social img:hover{
    opacity: .8;
    transition: 300ms ease;
}

footer p{
    margin: 10px 0 0 0;
    padding: 20px;
    height: 50px;
    background: rgb(73, 190, 216);
    color: #fff;
    font-size: 12px;
}